{#login/templates/login/index.html#}

{% extends 'bar.html' %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
<head>
    <link rel="shortcut icon" href="{%static 'img/logo.ico' %}" />
</head>
{% block content %}
    <div align="center">
        <h1><B>Whisky</B> A company wants to change the world.</h1><br><br>
        <h2><B>智能分析平台</B></h2><br>
        
        <h3>团队独创的智能分析平台，基于深度学习和SRGAN的图片优化技术可按照客户的需求对观察到的图像进行优化，普通的临近差值算法只能简单的放大图片，生成的图片清晰度不是很好，SRGAN的目的在于将一个低分辨率的图片转化为一个高分辨率的图片。深度学习的训练方法大致为构建网络，对高清图片做低分辨率处理，从而得到低分辨率图片数据集。用这两个数据集来训练网络，实现低分辨率到高分辨率图片的转化与处理。</h3>
        <br><br>
        <img src="{%static 'img/about3.png' %}" alt="some_text" style="margin:0;"></img>
        <br><br>
        <h3>在观察多个物体时，使用分割图像区域和计算平均灰度值的方法筛选出更符合客户要求的样品并拍摄图片。基于光学镜头和OpenCV对图像的处理能力，确定样品所在位置，编写出全新的查找样品的程序系统；可更精准的确定对焦对象，减少计算机的计算时间；对于已经筛选出的图片，分析系统还可以根据客户要求标注样品的符合程度。</h3>
        <img src="{%static 'img/about2.png' %}" alt="some_text" style="margin:0;"></img>
    </div>
{% endblock %}