{% load static %}
{% block title %}登录{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
<head>
    <link rel="shortcut icon" href="{%static 'img/logo.ico' %}" />
</head>

{% block content %}
<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div><B>Whisky<br><span onclick="window.location.href='/index/'">威视纪</span></B></div>
</div>
<br>
<div class="login">
    <form action = "" method = "post">
        {% csrf_token %}
        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        <input type="text" placeholder="username" name="username"><br>
        <input type="password" placeholder="password" name="password"><br>
        <input type="submit" value="登录">
        <input type="button" value="注册" onclick="window.location.href='/register/'">
    </form>
</div>
{% endblock %}